* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: auto;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.btn {
  width: 130px;
  height: 40px;
  font-family: sans-serif;
  font-size: large;
  cursor: pointer;
}

nav {
  display: flex;
  background-color: rgb(16, 16, 16);
  /* height: 30px; */
  align-items: center;
  
}


.left,
.right {
  width: 30%;
}

.center {
  width: 40%;
}

.left span {
  font-family: sans-serif;
  font-size: xx-large;
  color: #3dcfd3;
  padding: 8px;
}
.center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.center a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
  color: white;
  padding: 8px;
}


.right button {
  float: right;
  margin: 8px;
  background-color: #3dcfd3;
  color: rgb(16, 16, 16);
  outline: none;
  border: none;
  border-radius: 3px;
}

.home {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(16, 16, 16);
  /* background-color: #222323; */
  /* background-color: rgb(102, 104, 104); */
  /* background-color: rgb(27, 27, 27); */
  color: white;
  padding: 50px;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 22% 92%, 0px 100%);
}

.home .right h1,
.home .right h2 span {
  color: #3dcfd3;
  padding-bottom: 6px;
}



.home .right h2 {
  font-size: 43;
}

.home .right p {
  margin-top: 14px;
}

.home .right button {
  float: left;
  margin-top: 20px;
  margin-left: 0px;
}

.center a:hover {
  color: #3dcfd3;
  background-color: rgb(16, 16, 16);
  border: 1px solid #3dcfd3;
  border-radius: 2px;
}


/*--------------------------------------------------------------contact me starts here!*/
.contact-me {
  font-family: sans-serif;
}

.contact-me .container {
  text-align: center;
  margin: 30px;
  
}
.contact-me{
  padding-bottom: 30px;
}
.contact-me .container .heading {
  font: 300 60px 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-me .container p{
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}


.contact-me .container .contact {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.contact-me .container .contact .card {
  /* background-color: blue; */
  margin: 8px;
  border: 2px solid #0c1111;
  border-radius: 4px;
  padding: 12px;
}

.contact-me .container .contact .card:hover{
  background-color: rgb(16, 16, 16);
  
  /* border: 4px solid #3dcfd3; */
  border-radius: 4px;
  padding: 12px;
  color: rgb(191, 179, 179);
  transition: ease-in-out;
  transition-duration: 150ms;

 
}

.btn-success{
  background-color: green;
}


.contact-me .container .contact .card img {
  /* background-color: blue; */
  margin: 8px;
}

.contact-me .container .contact .card span.head{
  /* background-color: blue; */
  font-size: 21px;
 font-weight: bold;
 color: #3c3f3f;
 margin-bottom: 4px;
}

footer {
  text-align: center;
  background-color: rgb(16, 16, 16);
  padding: 30;
}


.contact-form button{
  margin: 8px;
  background-color: #42d33d;
  color: rgb(255, 250, 250);
  outline: none;
  border: none;
  border-radius: 3px;
}

.contact-form button:hover{
  color: #42d33d;
  background-color: rgb(255, 250, 250);
  border: 3px solid #42d33d;
  
}



.contact-form .container input, .contact-form .container textarea{
  width: 50%;
  border-radius: 5px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid gray;
  outline: none;
  padding: 5px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
  
}


.contact-form .container input{
 height: 40px;
 
}
/* ---------------------------------------------------------Education */
section.education{
  background-color: rgb(16, 16, 16);
  padding: 19px;
}

section.education .heading{
  
  text-align: center;
  color: white;


}

section.education .heading h1{
  font-size: 51px;
  padding: 20px;
  padding-bottom: 30px;
}

.education .container{
  display: flex;
  flex-wrap: wrap;  

  /* height: 100%; */
  justify-content: space-around;
  color: white;
}


.education .container .edu{
  
  background-color: rgb(26, 26, 26);
  padding: 22px;
  padding-bottom: 50px;
  margin: 20px;

  border-radius: 6px;

}

.education .container .edu h1{
  font-size: 31px;
 

  padding-top: 10px;
  padding-bottom: 10px;
  color: #3dcfd3;

}


.education .container .edu h2{
 font-size: 24px;
 font-weight: 500;
 padding-bottom: 10px;
}

.education .container .edu h2 .course{
color: #FFBD39;
font-weight: 600;
}
.education .container .edu p{
  color: #999999;
}
.education .container .edu .ins{
  padding-bottom: 20px;
  
}

/* --------------------------------------------------------------------certificates */

section.certificates{
  /* background-color: rgba(236, 206, 12, 0.997); */
  background-image: url(/img/achievement.jpg);
  background-size: cover;
}

section.certificates .heading h1{
  font-size: 41px;
  padding: 10px;

  color: rgb(91, 16, 16);
  text-align: center;
}


section.certificates .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 40px;
  

}

section.certificates .container img{
  width: 400px;
  height: 300px;

  border: 4px groove rgb(11, 155, 11);
  
  border-radius: 20px;
  padding: 3px;
  margin: 4px;

  
  
}

section.certificates .container img:hover{
 border-color: blue;
 border-style: dashed;
 transition: ease-in-out;
 transition-duration: 400ms;
}

/* ---------------------------------------------------skills starts here */
section.skills {
  background-color: rgb(16, 16, 16);
}

section.skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  padding: 40px ;
  padding-bottom: 50px;

  text-align: center;

  /* padding: 20px ; */
}
section.skills  .heading{
  font-size: 30px;
  padding: 15px;
  padding-bottom: 25px;

  color: rgb(238, 238, 238);
  text-align: center;
}

section.skills .container .skl{
background-color: rgb(244, 236, 236);
margin: 20px;
padding: 10px;
padding-right: 15px;
padding-left: 15px;

border-radius: 4px;


}

section.skills .container .skl img{
  width: 100px;
  height: 100px;
}

section.skills .container .skl progress{
  width: 90px;
  height: 20px;
}

button:hover {
  color: #3dcfd3;
  background-color: rgb(16, 16, 16);
  border: 2px solid #3dcfd3;
}

.text-center{
  text-align: center;
}

