:root {
  /* --primary: #3dcfd3; */
  --primary: #2a9d8f;
  --secondary: #ffffff;
  --tertiory: #264653;
  --dark: #242424;
  --grey: #565656;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --brick: #e76f51;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--tertiory);
  padding: 0px 64px;
  height: 80px;
}

nav .left span {
  font-size: 32px;
  color: var(--primary);
  padding: 8px;
}

nav .right a {
  text-decoration: none;
  color: var(--primary);
  margin: 0px 12px;
}

nav .right button {
  background-color: var(--primary);
  color: var(--dark);
  border: 2px solid var(--primary);
  
}

nav .right button:hover {
  color: var(--primary);
  background-color: transparent;
}

@media only screen and (max-width: 960px) {
  nav .right {
    display: none;
  }
}

/* ----------------------------------------Home section ---------*/

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 100px;
  background-color: var(--secondary);
  color: var(--secondary);
  /* clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 22% 92%, 0px 100%); */
}

.home .left {
  flex: 1;
}

.home .left img {
  float: right;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.home .right {
  flex: 1;
}

.home .right h2,
.home .right h3 span {
  color: var(--tertiory);
  padding-bottom: 6px;
}

.home .right h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.home .right p {
  margin-top: 14px;
  color: var(--grey);
  margin: 16px 0px;
}

.home .right button {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--primary);
  margin-top: 24px;
}

.home .right button:hover{
  background-color: var(--primary);
  color: var(--secondary);
}


/*--------------------------------------------------------------contact me starts here!*/
.contact-me {
  padding: 100px;
}

.contact-me .heading {
  text-align: center;
  margin-bottom: 30px;
}

.contact-me .heading h2 {
  font-size: 32px;
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-me .heading p {
  color: var(--grey);
  font-size: 16px;
  letter-spacing: px;
}
.contact-form{
  text-align: center;
}

.contact-form .container input,
.contact-form .container textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: inherit;
  font-weight: 500;
  outline: none;
  padding: 16px;
  letter-spacing: 1px;

  margin-bottom: 12px;
}

.contact-form .container input {
  height: 40px;
}

.contact-form button {
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--primary);
  margin-top: 12px;
}

.contact-form button:hover {
  color: var(--primary);
  background-color: var(--secondary);
}


/* ---------------------------------------------------------Education */
.education {
  background-color: var(--tertiory);
  padding: 100px;
}

section.education .heading {
  text-align: center;
}

section.education .heading h2 {
  font-size: 2rem;
  font-weight: 700;

  color: var(--primary);
  letter-spacing: 2pt;
  padding: 20px;
  padding-bottom: 30px;
}

.education .cards__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.education .cards__container .card {
  flex: 1;

  background-color: rgb(223, 223, 223);
  padding: 32px;
  margin: 20px;
  border-radius: 8px;
  min-height: 200px;
}

.education .cards__container .card h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--grey);
}



.education .cards__container .card h2 span{
  font-size: 20px;
  color: var(--grey);
}

.education .cards__container .card p{
  font-size: 1rem;
  color: #264653;
  margin: 20px 0px 10px 0px;
}

.education .cards__container .card h3{
  font-size: .8rem;
}





/* --------------------------------------------------------------------certificates */

section.certificates {
  /* background-color: rgba(236, 206, 12, 0.997); */
  background-image: url(/img/achievement.jpg);
  background-size: cover;
}

section.certificates .heading h1 {
  font-size: 41px;
  padding: 10px;

  color: rgb(91, 16, 16);
  text-align: center;
}

section.certificates .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 40px;
}

section.certificates .container img {
  width: 400px;
  height: 300px;

  border: 4px groove rgb(11, 155, 11);

  border-radius: 20px;
  padding: 3px;
  margin: 4px;
}

section.certificates .container img:hover {
  border-color: blue;
  border-style: dashed;
  transition: ease-in-out;
  transition-duration: 400ms;
}

/* ---------------------------------------------------skills starts here */
.skills {
  background-color: var(--tertiory);
  padding: 100px;
}

.skills .heading h2{
  font-size: 2rem;
  font-weight: 700;

  color: var(--primary);
  letter-spacing: 2pt;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;

  /* padding: 20px ; */
}

.skills .container .skill__card {
  background-color: rgb(244, 236, 236);
  margin: 20px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;

  border-radius: 4px;
}

section.skills .container .skill__card img {
  width: 100px;
  height: 100px;
}

section.skills .container .skill__card progress {
  width: 90px;
  height: 20px;
}

.text-center {
  text-align: center;
}

/* footer section */

footer {
  text-align: center;
  background-color: var(--tertiory);
  padding: 100px;
}

